.App{
  color: rgb(233, 225, 225);
  background-color: black;
  height: fit-content;
}
input{
  width: 40%;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  padding: 0px 20px;
  outline: none;
}
.fle input{
margin-bottom: 20px;
}
button{
  padding: 13px 40px;
  border-radius: 20px;
  font-size: 18px;
  border: none;
}
button:hover{
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 950px) {
  input{
    width: 80%;
    height: 50px;
  }
}
